@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  background-color: var(--background-color);
  color: var(--body-color);
  font-family: "Montserrat", sans-serif;
}

.align_center {
  display: flex;
  align-items: center;
}

:root {
  --background-color: #101010;
  --body-color: #fff;
  --heading_color: #ffe400;
}

[data-theme="light"] {
  --background-color: #fff;
  --body-background-color: #fff;
  --body-color: #000;
  --heading_color: #000;
}

html {
  scroll-behavior: smooth;
}
